<article data-th-if="${articleContent!=null and articleContent.getType().getContentTypeName()=='article'}">
    <header>
        <h1 data-th-text="${articleContent.displayName}">Article heading</h1>
    </header>
    <div>
        <p data-th-if="${articleContent.contentData.getProperty('preface')!=null}" data-th-text="${articleContent.contentData.getProperty('preface').getString()}">Article preface</p>
        <p data-th-if="${articleContent.contentData.getProperty('body')!=null}" data-th-text="${articleContent.contentData.getProperty('body').getString()}">Article body</p>
    </div>
</article>