<div class="row-fluid"
     data-live-edit-type="{{component.type}}"
     data-live-edit-component="{{component.path}}">

    <div class="span8" data-live-edit-type="region" data-live-edit-region="left">

        {{#leftRegion.components}}

        <!--# COMPONENT {{path}}-->

        {{/leftRegion.components}}

    </div>
    <div class="span4" data-live-edit-type="region" data-live-edit-region="right">

        {{#rightRegion.components}}

        <!--# COMPONENT {{path}}-->

        {{/rightRegion.components}}
    </div>
</div>